<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.lifesiren">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lifesiren"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lifesiren"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FindOrganisation"></activity>
        <activity android:name=".FindUser" />
        <activity android:name=".Respond" />
        <activity android:name=".Profile" />
        <activity android:name=".ViewResponse" />
        <activity android:name=".ViewRequests" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>